/* Mirador custom and fixes for common Omeka themes */
@media screen {
    #user-bar .show {
        display: inline-block !important;
    }
    .mirador {
        display: block !default; 
        width: 90% !default;
        height: 600px !default;
        margin: 1em 5% !default;
        position: relative !default;
    }
    body .mirador-container {
        font-size: initial !default;
        line-height: initial !default;
    }
    .mirador-viewer .manifest-info .window-manifest-title {
        line-height: initial !default;
    }
    @media (min-width: 1200px) {
        .modal-dialog {
            width: 1440px !default;
            margin: 30px auto !default;
        }
    }
}
.play.fullscreen,
.play.fullscreen > .mirador {
    position: absolute !default;
    top: 0 !default;
    bottom: 0 !default;
    left: 0 !default;
    right: 0 !default;
    margin: 0 !default;
    padding: 0 !default;
    height: 100% !default;
    width: 100% !default;
}
